<!DOCTYPE html>

<html ng-app="socketChat">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/style")
    @Scripts.Render("~/scripts/angular", "~/scripts/chat")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts/bootstrap")
</body>
</html>
