<!DOCTYPE html>
<html lang="en-us" ng-app="nodeChat">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/site")
    @Scripts.Render("~/scripts/angular", "~/scripts/src")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/scripts/jquery")
</body>
</html>
